@font-face {
  font-family: Poppins Black;
  src: url('/main/asset/font/Poppins-Black.ttf');
}

@font-face {
  font-family: Poppins Bold;
  src: url('/main/asset/font/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins Regular;
  src: url('/main/asset/font/Poppins-Regular.ttf');
}